* {
	font-size: 1.05em;
}

#alturaFormulario {
	height: 7vh;
}

#loginSubmit {
	margin-top: 20px;
	font-size: 1.2em;
}

#formulario {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding-left: 6.5%;
	padding-right: 6.5%;
	padding-top: 2%;
	padding-bottom: 0.5%;
	margin-bottom: 50px;
}

#messageAlerta {
	position: relative;
	margin-top: 90px;
}

#alumnoIndicado {
	font-size: 1.2em;
	margin-top: 10px;
}

img {
	width: 100%;
}

#tituloLogin {
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
}

#campoContraseña {
	margin-top: 20px;
}

#campoNombre {
	margin-top: 20px;
}