* {
	font-size: 1.05em;
}

#alturaFormulario {
	height: 15vh;
}

#loginSubmit {
	margin-top: 5px;
	font-size: 1.05em;
}

#formulario {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding-left: 6.5%;
	padding-right: 6.5%;
	padding-top: 9%;
	padding-bottom: 9%;
}

#messageAlerta {
	position: relative;
	margin-top: 90px;
}

#alumnoIndicado {
	font-size: 1.2em;
}