* {
	font-size: 1.05em;
}

#alturaFormulario {
	height: 7vh;
}

#loginSubmit {
	margin-top: 20px;
	font-size: 1.2em;
}

#formulario {
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding-left: 6.5%;
	padding-right: 6.5%;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-bottom: 50px;
}

#messageAlerta {
	position: relative;
	margin-top: 15px;
}

#alumnoIndicado {
	font-size: 1.2em;
	margin-top: 10px;
}

img {
	width: 100%;
}

#tituloLogin {
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
	
}

#campoContraseña {
	margin-top: 20px;
}

#campoNombre {
	margin-top: 20px;
}

/*Vista Profesor*/

#historico {
	width: 100%;
}
#alumnoIndicado {
	width: 100%;
	text-align: left;
	list-style: none;
}
#profesor {
	text-align: center;
}

#cajaModal {
	text-align: center;
}

#alturaFormularioProfesor {
	height: 12vh;
}

#selectores{
	padding-top: 4vh;
	margin-left: 10%;
	text-align: left;
}
#btn-subir {
	margin-top: 5vh;
}
#form-ajax {
	margin-top: 3vh;
	margin-left: 10%;
}
/*
#vistaProfesor {
	background-image: url("../imagenes/ies_dosmares_resized.jpg");
	background-repeat: no-repeat;
}*/

#selectDesplegable {
	border: none;
	padding-right: 20%;
	padding-left: 34%;
}
#content {
	position: absolute;
	width: 3.1%;
	margin-left: 48.5%;
	margin-top: 48vh; 
	text-align: center;
}
#conserje #container{
	list-style:none!important;
}

.vistas {
	background-image: url("../imagenes/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 100% 150%;
}
.vistasAlumno {
	background-image: url("../imagenes/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 100% 210%;
}
.vistasConserje {
	background-image: url("../imagenes/fondo.jpg");
	background-repeat: no-repeat;
	background-size: 100% 400%;
}

#meterDinero {
	width: 100%;
}
#cantidad {
	width: 80%;
	margin-left: 10%;
}
#labelCantidad {
	margin-left: 10%;
}

#atras {
	display: inline-block;
}
#tituloAdmin {
	display: inline-block;
	font-weight: bold;
	padding-left: 10%;
	font-size: 1.4em;
}

.labelAdmin {
	font-size: 0.8em;
}

.panel-footer {
	text-align: center;
}
.panel-heading {
	text-align: center;
}

#nombre {
	margin-left: 18%;
}
#apellidos {
	margin-left: 18%;
}

#labelNombre {
	text-align: left;
	margin-top: 2vh;
	margin-left: 18%;
}

#labelApellido {
	margin-top: 2vh;
	text-align: left;
	margin-left: 18%;
}
.panel-body {
	padding-bottom: 4vh;
}